<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,minimal-ui"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="/static/downloadApp/css/bysi.css" />
	<script src='/static/downloadApp/js/jquery.js'></script>
	<script src='/static/downloadApp/js/bysi.js'></script>
</head>
<body>
		
</body>
</html>