<div class="pageTitle rb" id="ChannelBox">
              <div class="topNavBox fb bb" id="MainChannel">
                         <div class="mainNav">
                                      <a class="topLogo ab" id="LOGO" href="/wifizone"></a>
                                      <ul class="channel rb FFFColor clearfix" id="Channel">
                                                   <li class="topEnjoyS topEnjoyS1" data-nid="1" data-cid="9" id="tr3">娱乐</li>
                                                   <li class="topNewsS topNewsS1" data-nid="2" data-cid="10" id="tr2">资讯</li>
                                                    <li class="topAccountS topGameS1" data-nid="4" data-cid="7" id="tr4">游戏</li>
                                                   <li class="topNavS topNavS1" data-nid="3" id="tr1">频道</li>
                                            </ul>
                        </div>
            </div>
    <div id="WifiCheck" class="wifiState bt clearfix">
    	<div class="yyWifiLogo"></div>
    	<div class="yyWifiNote">亲~  您正在浏览内网内容，上网请点击右侧按钮</div>
		<div id="WifiDownload" class="yyWifiBtn"><span class="rb">立即上网</span></div>
    </div>
    <div class="tipNav FFFColor clearfix normal" id="TipNav">
        <section class="rb bb" id="FullTip">
            <ul class="navs rb clearfix">
                <li data-nid="1" data-cid="9"><div>推荐</div></li>
                <li data-nid="1" data-cid="4"><div>视频</div></li>
                <li data-nid="1" data-cid="5"><div>美图</div></li>
                <li data-nid="1" data-cid="6"><div>漫画</div></li>
                <li data-nid="2" data-cid="10"><div>热点</div></li>
                <li data-nid="2" data-cid="1"><div>新闻</div></li>
                <li data-nid="2" data-cid="2"><div>专题</div></li>
                <li data-nid="2" data-cid="3"><div>小说</div></li>
                <li data-nid="4" data-cid="7"><div>游戏</div></li>
                <li data-nid="4" data-cid="8"><div>应用</div></li>
                <li data-nid="3" data-cid="0" class="home"><div>返回首页</div></li>
            </ul>
        </section>
        <section class="rb bb" id="CaseTip">
            <a class="topBack ab" href="javascript:history.back()" id="PageBack"></a>
            <span class="topContent" id="Title"></span>
        </section>
    </div>
</div>
<div class="fixed fb bb FFFColor" id="CaseTipFixed">
    <a class="topBack ab" href="javascript:history.back()"></a>
    <span class="topContent"></span>
</div>
